# Dependencies
node_modules

# Environment variables
.env
.env.local
.env.production

# Build outputs
.next
out
build
dist

# Prisma generated
/src/generated/prisma

# Misc
*.pem
*.zip
isrgrootx1.pem
NextCafe-Coffee-Shop.zip
staged_diff.txt
